<!DOCTYPE html>
<html>
  <head>
    <title>Mapping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2hWoZKcw092Nvx8cAQTBj2DQcxZJ3AyQ&callback=initMap"
                                       async defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
